.header-detail-doctor-container{
    height: 60px;
    background-color: #49bce2;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #eee;
}
