.outstandingDoctor-container{
    background-color: #fff;
    height: 500px;
    .outstandingDoctor-content{
        
        .slick-track{
            display: flex;
            padding-bottom: 20px;
            .slick-slide{
                height: 100%!important;
                    .outstandingDoctor-element{
                        cursor: pointer;
                        .img-top-doctor{
                            margin: 5px;
                            border: solid 1px #bbb;
                            height: 275px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .bg-img-top-doctor{
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                border-radius: 50%;
                                height: 50%;
                                width: 50%;
                                border-radius: 50%;
                            }
                        }
                    }
                    
            }
        }
        .outstandingDoctor-title{
            padding-top: 35px;
            h2{
                display: inline;
                font-weight: 600;
            }
        }
        .slick-arrow{
            top: 45%;
            &.slick-prev{
                left: 0px;
                z-index: 1000;
                
            }
            &.slick-next{
                right: 35px;
            }
            &::before{
                font-size: 40px;
                color: black;
            }
            
        }
    }
    
    
}