.title-user-redux{
    color: #0071ba;
}
.form-create-new-user-redux{
    .upload-image-container{
        .fa-upload{
            font-size: 30px;
        }
        .preview-image{
                height: 100px;
                width: 200px;
        }
    }
}

